/*Radio Image Button */
.customize-control-spirallite-radio-image label {
    position: relative;
    display: inline-block; 
}
.customize-control-spirallite-radio-image input {
    display: none; 
}
.customize-control-spirallite-radio-image input img {
    border: 1px solid transparent; 
}
.customize-control-spirallite-radio-image input:checked + label img {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #3498DB; 
}
.customize-control-spirallite-radio-image input + label .image-clickable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.pro-version-button {
    background: #09a40c;
    color: #fff !important;
    font-size:  14px;
    padding: 8px 15px;
}

.pro-version-button a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}

.pro-version-button a:hover {
    opacity: 0.8;
}

.customize-control-spirallite-radio-image .image.upg-to-pro input:checked+label img {
    border: none;
    box-shadow: none;
}
/*Radio Image Button Ends */