#customize-control-checkbox label, .customize-control-radio label {
    display: inline-block;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.customize-control-hidden {
    margin: 0 -12px;
    margin-bottom: 12px;
    display: block;
    padding: 13px 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dddddd;
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
	color: #3292db;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 1;
    font-size: 11.5px;
    cursor: default;
}



.ellapress-getting-started-notice {
    padding: 20px 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.ellapress-theme-screenshot img {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.ellapress-theme-notice-content {
    width: 70%;
    display: block;
    vertical-align: top;
    padding: 0 20px;
}

h2.ellapress-notice-h2 {
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.3;
}

.ellapress-push-down {
    padding-top: 15px;
    display: inline-block;
    padding-left: 8px;
}

.ellapress-button-padding.updating-message::before {
  margin-top: 12px;
}

li#accordion-panel-ellapress_typography {
    margin-bottom: 12px;
}

/* admin notices */
.service_section{width:100%;float:left;}.service_box{padding:20px;margin:10px;background: #F7F7F7;border: 1px solid #F7F7F7;border-radius: 3px;width:31.6%;display: table;float:left;height:170px;-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);}.learn_more:hover{color:#222;}.learn_more {display: inline-block;margin: 0;padding: 0 15px 0 10px;background: #bf3131;border: none;border-radius: 3px;-webkit-box-shadow: none;box-shadow: none;color: #222;font-size: 12px;font-weight: 700;line-height: 30px;outline: none;text-align: center;text-decoration: none;text-transform: uppercase;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}@media screen and (max-width: 782px){.service_box{width:75%;}}@media screen and (max-width: 640px){.service_box{width:75%;}}@media screen and (max-width: 880px){.service_box{width:75%;height:190px;}}@media screen and (max-width: 640px){.service_box{width:75%;}}@media screen and (max-width: 640px){.service_box{width:75%;}}@media only screen and (max-width: 850px){.service_box{width:75%;height:190px;}}@media only screen and (max-width: 850px){.service_box{width:75%;height:190px;}}div.service_section div.service_box{padding: 5px !important;margin: 5px !important;height:80px !important;}.service_section .service_box h3{margin: 0px !important;}.service_box p{margin: 0.5em 0;}

#ella-notices {
    width: 99%;
    padding-right: 0!important;
}